<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	<insert id="insert">
		insert into board (bno,title,content,writer,ref,re_step,re_level) values
		( board_seq.nextval, #{title}, #{content}, #{writer},board_seq.nextval,0,0 )
	</insert>
	<!-- 첨부파일 정보 저장 -->	
	<insert id="addAttach">
		insert into attach (fullname, bno) values
		( #{fullname}, board_seq.currval ) 
	</insert>
	<select id="listAll"
resultType="jun.st.ex.Persistence.DTO.BoardDTO">
		<include refid="paging_header" />
			select bno,title,writer,name,regdate,viewcnt,show,ref,re_step,re_level
  			 ,(select count(*) from reply where bno=b.bno) cnt			
			from board b, member m
			<include refid="search" />
			order by  ref desc, re_step asc
		<include refid="paging_footer" />
	</select>
	<sql id="paging_header">
		select *
		from (
		    select rownum as rn, A.*
		    from (	
	</sql>
	<sql id="paging_footer">
		    ) A
		) where rn between #{start} and #{end} 	
	</sql>
	
<!-- 레코드 갯수 계산 -->	
	<select id="countArticle" resultType="int">
		select count(*)
		from board b,member m	
		<include refid="search" />
	</select>
	
	<sql id="search">
		<choose>
			<when test="search_option != 'all' ">
				where b.writer=m.userid 
				    and show='Y'
				    and ${search_option} like #{keyword}			
			</when>
			<otherwise>
				where b.writer=m.userid 
				    and show='Y'
				    and (name like #{keyword} 
				        or title like #{keyword}
				        or content like #{keyword} )			
			</otherwise>
		</choose>
	</sql>
	
	<select id="read" resultType="jun.st.ex.Persistence.DTO.BoardDTO">
		select *
		from board
		where bno=#{bno}
	</select>
	<update id="increaseViewcnt">
		update board
		set viewcnt=viewcnt+1
		where bno=#{bno}
	</update>
 <update id="update">
  	update board
  	set title=#{title},content=#{content}
  	where bno=#{bno}
  </update>
		<delete id="delete">
 		update board
 		 set show='N' 
 		 where bno=#{bno} 
	</delete>
   <!-- 첨부파일 목록 -->
	<select id="getAttach" 	resultType="String">
		select fullname 
		from attach
		where bno=#{bno}
		order by regdate desc	
	</select>

    <delete id="deleteFile">
	  	delete from attach
	  	where fullname=#{fullname}
  </delete>
  
   <insert id="updateAttach">
  	insert into attach (fullname,bno) values
  	(#{fullname},#{bno})
  </insert>

  <!-- 답변글 -->
  <select id="replyFormData" parameterType="Integer" resultType="jun.st.ex.Persistence.DTO.BoardDTO">
select * from board where bno=#{bno}
</select>

<insert id="replyInsertData">
insert into board (bno,title,content,writer,ref,re_step,re_level) values
( board_seq.nextval, #{title}, #{content}, #{writer},#{ref},#{re_step},#{re_level} )
</insert>

<update id="replyUpdateData" parameterType="jun.st.ex.Persistence.DTO.BoardDTO">
update board set re_step=re_step+1 where ref=#{ref} and re_step > #{re_step}
</update>

</mapper>
