<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	<insert id="insert">
		insert into board (bno,title,content,writer) values
		( board_seq.nextval, #{title}, #{content}, #{writer} )
	</insert>
	<select id="listAll" resultType="jun.st.ex.Persistence.DTO.BoardDTO">
		select
			bno,
			title,
			content,
			writer,
			regdate,
			viewcnt
		from
			board
		order by
			bno desc,
			regdate desc
	</select>
	<select id="read" resultType="jun.st.ex.Persistence.DTO.BoardDTO">
		select *
		from board
		where bno=#{bno}
	</select>
	<update id="increaseViewcnt">
		update board
		set viewcnt=viewcnt+1
		where bno=#{bno}
	</update>
	<update id="update">
	update board
		set title=#{title},
		content=#{content}
	where bno=#{bno} 
	</update>
	<delete id="delete">
		delete from board
		where bno=#{bno}
	</delete>
</mapper>
