<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="chat">
	
	<insert id="insertMessage" parameterType="jun.st.ex.Persistence.DTO.ChatDTO">
	INSERT INTO CHAT
	 VALUES(chat_seq.nextval,#{fromid}, #{toid},sysdate,#{chatcontent},#{chatread})
	</insert> 
	
	<select id="GetMessageList" parameterType = "hashmap" resultType="jun.st.ex.Persistence.DTO.ChatDTO">
			select chatno,fromid,toid,chatcontent,chattime,chatread,profileimage
			from chat c,member m
			where ((toid=#{userid} and fromid=#{otherUserid}) or (toid=#{otherUserid} and fromid=#{userid}))
			and c.fromid = m.userid
			order by chatno asc
	</select>
	
	<select id="readCount">
	select count(chatno) 
	from chat 
	where toid=#{userid} and chatread=0
	</select>
	
	<update id="UpdateReadChat" parameterType = "hashmap">
		update chat
		set chatread=1
		where (fromid=#{fromid} and toid=#{toid})
	</update>
</mapper>














