<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">

	<select id="memberList"
		resultType="jun.st.ex.Persistence.DTO.MemberDTO">
		select userid,passwd,name,email,join_date,profileimage
		from member
	</select>
	<insert id="insertMember">
		insert into member (userid,passwd,name,email,join_date,profileimage) values
		(#{userid}, #{passwd}, #{name}, #{email},sysdate,#{profileimage} )
	</insert>
		<select id="login_check" 
	parameterType=
		"jun.st.ex.Persistence.DTO.MemberDTO"
	resultType="jun.st.ex.Persistence.DTO.MemberDTO">
		select * from member
		where userid=#{userid}
	</select>
	
	 <select id="checkPw" parameterType=
		"jun.st.ex.Persistence.DTO.MemberDTO"
	resultType="jun.st.ex.Persistence.DTO.MemberDTO">
  select * from member
		where userid=#{userid}
  </select>
   <select id="ViewUser"
  resultType="jun.st.ex.Persistence.DTO.MemberDTO">
  select userid,passwd,name,email,profileimage
  from member
  where userid=#{userid}
  </select>
  
  <update id="updateUser" parameterType="jun.st.ex.Persistence.DTO.MemberDTO">
  update member
  set name=#{name},email=#{email},profileimage=#{profileimage}
  where userid=#{userid}
  </update>
  <delete id="deleteMember">
		delete from member
		where userid=#{userid}
	</delete>
	<select id="findid" resultType="String" parameterType="java.util.Map" >
		select userid
		from member 
		where name=#{name} and email=#{email}
	</select>
	 <select id="getCheakId" parameterType="String" resultType="Integer">
        SELECT count(*) 
        FROM member 
        WHERE userid=#{userid}
    </select>
  
<!--   <update id="update_pw" parameterType="member">
		update member set pw = #{pw} where id = #{id}
	</update> -->
	<select id="checkMemberByUserIdAndEmail"
	parameterType="jun.st.ex.Persistence.DTO.MemberDTO"
	resultType="Integer">
		select count(*)
		from member
		where userid=#{userid} and email=#{email}
	</select>
	
	<update id="MailUpdateUserPw" parameterType="jun.st.ex.Persistence.DTO.MemberDTO">
		update member
  		set passwd=#{passwd}
  		where userid=#{userid} and email=#{email}
	</update>
	<select id="getUserPw"
	parameterType="String"
	resultType="String">
		select passwd
		from member
		where userid=#{userid}
	</select>
	<update id="UpdateNewPassword" parameterType="hashmap">
		update member
  		set passwd=#{newPW}
  		where userid=#{userid}
	</update>
	<select id="RemoveSelfId" parameterType="jun.st.ex.Persistence.DTO.MemberDTO" resultType="jun.st.ex.Persistence.DTO.MemberDTO">
		select * 
		from member
		where userid!=#{userid}
	</select>
</mapper>
